@font-face {
  font-family: 'Caudex';
  src: url('../fonts/Caudex-Regular.ttf');
  font-display: fallback;
}
@font-face {
  font-family: 'Nova Mono';
  src: url('../fonts/NovaMono-Regular.ttf');
  font-display: fallback;
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  background: #b2597b;
  color: #F1FFE7;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.root {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: linear-gradient(to bottom, #1A1B41 0%, #6290C3 80%, #9160c1 90%, #b2597b);
  background-attachment: fixed;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  min-height: 100%;
  height: auto;
  opacity: 0.75;
  background-image: url('../images/stars.png');
  background-repeat: repeat;
  animation: bg-slide 300s linear infinite;
}
@-webkit-keyframes bg-slide {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
header {
  font-family: 'Nova Mono', monospace;
  align-content: center;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  color: #BAFF29;
}

header h1 {
  margin: 0;
}

main {
  align-content: center;
  box-sizing: border-box;
  font-family: 'Caudex', serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 2rem;
  text-align: center;
  padding: 0.5rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 18px;
}
a {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px dashed #BAFF29;
  color: #F1FFE7;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px;
  transition: all 0.2s ease;
}
footer {
  font-family: 'Caudex', serif;
  text-align: center;
  padding: 1rem;
}
.logo-link {
  border: 1px dashed #BAFF29;
  border-radius: 50%;
  padding: 4px;
  line-height: 42px;
  margin: 4px;
}
.logo-link > img {
  transform: translateY(6.5px);
}
a:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}
.logo-link:hover {
  opacity: 0.5;
}
.logo-container {
  display: flex;
  justify-content: center;
}
a:active, .logo-link:active {
  opacity: 1;
  border: 1px solid #BAFF29;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.25rem;
}
li > span {
  position: relative;
}
li > span::before {
  content: "> ";
  position: absolute;
  top: -2px;
  left: -24px;
}
li > span.current::before {
  content: "> ";
  position: absolute;
  font-size: 1.5rem;
  top: -8px;
  left: -24px;
}
.content {
  background: rgba(0,0,0,0.25);
  max-width: 680px;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.25);
}
.divider {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0), #C2E7DA, rgba(0,0,0,0));
  margin-bottom: 18px;
}
.current {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
}
