@font-face {
  font-family: 'Caudex';
  src: url('../fonts/Caudex-Regular.ttf');
  font-display: fallback;
}
@font-face {
  font-family: 'Nova Mono';
  src: url('../fonts/NovaMono-Regular.ttf');
  font-display: fallback;
}
html {
  font-size: 18px;
}
body {
  --gunmetal: #333745;
  --cerise: #E63462;
  --bittersweet: #FE5F55;
  --tea-green: #C7EFCF;
  --beige: #EEF5DB;
  margin: 0;
  background: var(--gunmetal);
  color: var(--beige);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.root {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: linear-gradient(to bottom, #1A1B41 0%, #6290C3 80%, #9160c1 90%, #b2597b);
  background-attachment: fixed;
}
.bg-image {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100%;
  background-image: url('../images/stars.png');
  background-repeat: repeat;
  animation: bg-slide 300s linear infinite;
}
@-webkit-keyframes bg-slide {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
header {
  font-family: 'Caudex', serif;
  align-content: center;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  color: var(--tea-green);
}

header h1 {
  margin: 0;
}

main {
  align-content: center;
  box-sizing: border-box;
  font-family: 'Caudex', serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 2rem;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 18px;
}
a {
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  opacity: 1;
  transition: all 0.2s ease;
  color: var(--beige);
}
a:hover {
  color: rgba(241, 255, 231, 0.5);
  transition: all 0.2s ease;
}
footer {
  font-family: 'Caudex', serif;
  text-align: center;
  padding: 1rem;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.logo > div {
  display: flex;
}
.logo-link {
  border-radius: 50%;
  padding: 4px;
  line-height: 42px;
  margin: 4px;
}
.logo-link > img {
  transform: translateY(6.5px);
}
.logo-link:hover {
  opacity: 0.5;
}
.logo-container {
  display: flex;
  justify-content: center;
}
a:active, .logo-link:active {
  opacity: 1;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  margin-bottom: 0.25rem;
}
li > span {
  position: relative;
}
li > span::before {
  content: "> ";
  position: absolute;
  top: -2px;
  left: -24px;
}
li > span.current::before {
  content: "> ";
  position: absolute;
  font-size: 1.5rem;
  top: -8px;
  left: -24px;
}
.content {
  max-width: 450px;
  margin: auto;
}
hr {
  border-top: 1px solid var(--tea-green);
  opacity: 0.25;
  margin-bottom: 18px;
}
